.center{
    display: flex;
}
.contents{
    background-color: rgb(219, 219, 219);
    width: 100%;
    padding: 10px;
    margin-left: 60px;
}
.sidebar{
    position: fixed; /* 사이드바 고정 */
    background-color: #2C2C2C;
    top:60;
    left: 0;
    height: 100%;
    width: 60px;
    flex-shrink: 0;
    padding: 10px;
}

.todoitem{

    padding: 3px;
    width: 200px;
    margin:auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(21, 255, 0, 0.1);
    
}
.Todoslist{
    width: 220px;
    padding: 5px;
    align-items:center;
    border: 1px dotted;
}
.line {
    width: 100%;
    height: 1px;
    background-color: gray;
}
.sideicon{
    margin-bottom: 3px;
    margin-top: 3px;
}
.main{
    display: flex;
    
}
.calendar{
    width: 100%;
    background-color: rgb(187, 187, 187);
    
}
.feedback{
    width: 100%;
    border-color: #2C2C2C;
    border: 1px solid #6c757d;
    
}

/* calendar css  */

.calendar {
    width: 100%;
  }

  .day-header {
    background-color: #2C2C2C;
    color: gray;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
  }

  .time-slot {
    height: 40px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
  }

  .time-column {
    text-align: right;
    padding-right: 10px;
    color: gray;
    font-size: 12px;
  }

  .event {
    background-color: #929292;
    color: black;
    font-size: 12px;
    position: absolute;
    left: 5px;
    right: 5px;
    padding: 3px;
    border-radius: 5px;
  }

  .day-column {
    border-left: 1px solid #eaeaea;
    position: relative;
  }
  .days{
  }
